@inject Microsoft.AspNet.Hosting.IHostingEnvironment env
@inject Microsoft.Extensions.PlatformAbstractions.IApplicationEnvironment app
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h3>Running in Docker!</h3>
  <ul>
    @if (env != null)
    {
      <li>Environment Name: @env.EnvironmentName</li>
    }
    @if (app != null)
    {
      <li>Runtime Framework: @app.RuntimeFramework</li>
      <li>Application Name: @app.ApplicationName</li>
      <li>Application Ver: @app.ApplicationVersion</li>
      <li>App Path: @app.ApplicationBasePath</li>
    }
  </ul>
</body>
</html>